SECRET_KEY = 'django-secure-...'
ALLOWED_HOSTS = 127.0.0.1,localhost
DEBUG = True

# DEV
COOKIE_SECURE = False
COOKIE_SAMESITE = Lax
COOKIE_DOMAIN =

# # PROD
# COOKIE_SECURE = True
# COOKIE_SAMESITE = Strict
# COOKIE_DOMAIN = .example.com

DB_ENGINE = 'django.db.backends.postgresql'
DB_NAME = 'app_db'
DB_USER ='db_user'
DB_PASSWORD = 'db_password'
DB_HOST = 'localhost'
DB_PORT = '5432'
DB_USER_PASSWORD = 'user_password'