asgiref==3.11.0
Django==6.0
django-cors-headers==4.9.0
django-stubs==5.2.9
django-stubs-ext==5.2.9
djangorestframework==3.16.1
djangorestframework-stubs==3.16.8
djangorestframework_simplejwt==5.5.1
librt==0.7.8
mypy==1.19.1
mypy_extensions==1.1.0
pathspec==1.0.4
pillow==12.0.0
psycopg2-binary==2.9.11
PyJWT==2.10.1
python-dotenv==1.2.1
ruff==0.15.1
sqlparse==0.5.5
types-cryptography==3.3.23.2
types-PyYAML==6.0.12.20250915
typing_extensions==4.15.0
urllib3==2.6.3
