@import "tailwindcss";

/* Light theme variables */
:root {
  --bg-primary: #c8c6c6;
  --bg-secondary: #b1aeae;
  --bg-tertiary: #9098a5;
  --bg-inverted: #1f2937;
  --bg-warning: #ecab13;
  --bg-danger: #fa2d23;
  --text-primary: #111827;
  --text-secondary: #36393d;
  --text-inverted: #f9fafb;
  --text-muted: #111827a4;
  --text-success: #09740b;
  --text-warning: #dac20c;
  --text-danger: #b41b13;
  --accent-primary: #05797b;
  --accent-secondary: #0f772c;
  --accent-soft: #146e50c1;
  --border-default: #5e5e5e;
  --border-muted: #3a3a3aa9;
  --shadow-color: rgba(38, 47, 48, 0.25);
  --shadow-hover: rgba(38, 47, 48, 0.5);
}

/* Dark theme variables */
.dark {
  --bg-primary: #222428;
  --bg-secondary: #374151;
  --bg-tertiary: #6e7a8f;
  --bg-inverted: #a5c0d5;
  --bg-warning: #ecab13;
  --bg-danger: #ee3228;
  --text-primary: #f9fafb;
  --text-secondary: #d1d5db;
  --text-inverted: #111827;
  --text-muted: #111827a4;
  --text-success: #10a913;
  --text-warning: #f2d708;
  --text-danger: #ef2318;
  --accent-primary: #8ec1ff;
  --accent-secondary: #13f1a0;
  --accent-soft: #146e50c1;
  --border-default: #585858;
  --border-muted: #ff2727;
  --shadow-color: rgba(152, 180, 182, 0.25);
  --shadow-hover: rgba(152, 180, 182, 0.5);
}

/* no cascade on theme change */
.no-theme-transition *,
.no-theme-transition *::before,
.no-theme-transition *::after {
  transition: none !important;
}

/* default values */
html,
body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

*, ::before, ::after {
  border-color: var(--border-default);
}

::selection {
  background: var(--accent-primary);
  color: var(--text-inverted);
}

/* input fields autofilled color fix */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-text-fill-color: var(--text-primary);
  box-shadow: 0 0 0px 1000px var(--bg-secondary) inset;
  transition: background-color 9999s ease-in-out 0s;
}

:focus-visible {
  box-shadow: 0 0 0 2px var(--accent-secondary);
  outline: 1px solid var(--accent-primary);
  outline-offset: 1px;
}