@import "tailwindcss";

/* Light theme variables */
:root {
  --bg-primary: #d6d4d4;
  --bg-secondary: #c7c7c7;
  --bg-tertiary: #9098a5;
  --bg-inverted: #1f2937;
  --bg-warning: #ffb70f;
  --bg-danger: #ce2219;
  --text-primary: #111827;
  --text-secondary: #36393d;
  --text-inverted: #f9fafb;
  --text-muted: #666768a4;
  --text-success: #09740b;
  --text-warning: #dac20c;
  --text-danger: #b41b13;
  --accent-primary: #13a79f;
  --accent-secondary: #17cc8a;
  --accent-soft: #146e50c1;
  --border-default: #5e5e5e;
  --border-muted: #8b8484a9;
  --shadow-color: rgba(38, 47, 48, 0.25);
  --shadow-hover: rgba(38, 47, 48, 0.5);
}

/* Dark theme variables */
.dark {
  --bg-primary: #121314;
  --bg-secondary: #1c1e20;
  --bg-tertiary: #3b3f47;
  --bg-inverted: #d6d6d6;
  --bg-warning: #ecab13;
  --bg-danger: #ee3228;
  --text-primary: #f0f0f0;
  --text-secondary: #cecece;
  --text-inverted: #111827;
  --text-muted: #909191a4;
  --text-success: #10a913;
  --text-warning: #f2d708;
  --text-danger: #ef2318;
  --accent-primary: #15b3ab;
  --accent-secondary: #11df93;
  --accent-soft: #146e50c1;
  --border-default: #585858;
  --border-muted: #333333;
  --shadow-color: rgba(152, 180, 182, 0.25);
  --shadow-hover: rgba(152, 180, 182, 0.5);
}

/* no cascade on theme change */
.no-theme-transition *,
.no-theme-transition *::before,
.no-theme-transition *::after {
  transition: none !important;
}

/* default values */
html,
body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

*, ::before, ::after {
  border-color: var(--border-default);
}

::selection {
  background: var(--accent-primary);
  color: var(--text-inverted);
}

/* input fields autofilled color fix */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-text-fill-color: var(--text-primary);
  box-shadow: 0 0 0px 1000px var(--bg-secondary) inset;
  transition: background-color 9999s ease-in-out 0s;
}

:focus-visible {
  box-shadow: 0 0 0 2px var(--accent-secondary);
  outline: 1px solid var(--accent-primary);
  outline-offset: 1px;
}

input:disabled,
textarea:disabled,
select:disabled {
  background-color: var(--bg-primary);
  color: var(--text-muted);
  border-color: var(--border-muted);
  opacity: 1; /* prevent browser default fade */
  cursor: not-allowed;
}

input:read-only,
textarea:read-only,
select:read-only {
  background-color: var(--bg-primary);
  color: var(--text-muted);
  border-color: var(--border-muted);
  opacity: 1; /* prevent browser default fade */
}